<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <description> Taller 2 </description>
  <display-name> Taller 2 </display-name>
  
  <servlet>
    <servlet-name>ListadoMudanzasXfecha</servlet-name>
    <servlet-class>servlets.ListadoMudanzasXfechaServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>ListadoMudanzasXfecha</servlet-name>
    <url-pattern>/ListadoMudanzasXfecha</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListadoServicios</servlet-name>
    <servlet-class>servlets.ListadoServiciosServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>ListadoServicios</servlet-name>
    <url-pattern>/ListadoServicios</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ListadoClientes</servlet-name>
    <servlet-class>servlets.ListadoClientesServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>ListadoClientes</servlet-name>
    <url-pattern>/ListadoClientes</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
	<welcome-file>/Menu.jsp</welcome-file>
  </welcome-file-list>

</web-app>